* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial, sans-serif';
}

@font-face {
    font-family: 'Source_Code';
    src: url(fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf)
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf)
}

@font-face {
    font-family: 'Bubblegum_Sans';
    src: url(fonts/Bubblegum_Sans/BubblegumSans-Regular.ttf)
}

@font-face {
    font-family: 'Pacifico';
    src: url(fonts/Pacifico/Pacifico-Regular.ttf)
}

@font-face {
    font-family: 'Changa-VariableFont';
    src: url(fonts/Changa/Changa-VariableFont_wght.ttf)
}

@font-face {
    font-family: 'Gugi-Regular';
    src: url(fonts/Gugi/Gugi-Regular.ttf)
}

/* --------------------- navigation bar --------------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* background-color: #0066b2; */
    /* background-color: #004792; */
    /* background-color: #8DA399; */
    background-color: ghostwhite;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    flex-shrink: 0;
}

.logo-img {
    width: 50px;
    height: auto;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    margin-top: 5px;
}

.nav-link {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 23px;
    transition: color 0.3s ease, font-weight 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
    position: relative;
    font-family: 'BebasNeue-Regular';
}

.nav-link:hover,
.nav-link:focus {
    font-weight: bold;
    text-shadow: 0 0 0.3px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-button {
    text-decoration: none;
    padding: 8px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #4682B4;
    background-color: #fff;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Source_Code';
}

.auth-button:hover {
    color: black;
}

.auth-button:hover,
.auth-button:focus {
    border: 2px solid #fff;
}

/*--------------------- Main page ---------------------*/

.introCon{
    width: 100%;
    margin-top: 0px;
    text-align: center;
}

.introCon img:nth-of-type(1){
    width: 100%;
    margin-bottom: 20px;
}

.banner2 img{
    width: 100%;
}

.introCon h1{
    font-size: 100px;
    color: #004792;
    margin-top: 60px;
    font-family: 'BebasNeue-Regular';
    letter-spacing: 30px;
}

.introCon p{
    font-size: 42px;
    font-weight: 600;
    font-family: 'Source_Code';
}

/* brand */

.brandsCon{
    margin-top: 9%;
    width: 100%;
}

.brandsCon h3{
    font-family: 'Changa-VariableFont';
    text-align: center;
    color: #fff;
    font-size: 30px;
    background-color: #004792;
}

.brandsConBox{
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
}

.brandsCon {
    margin-top: 9%;
    width: 100%;
}

.brandsCon h3 {
    font-family: 'Gugi-Regular';
    text-align: center;
    color: #fff;
    font-size: 30px;
    background-color: #004792;
    padding: 10px 0;
    margin-bottom: 20px;
}

.brandsConBox {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    cursor: pointer;
}

.grid-item {
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.grid-item:hover {
    transform: translateY(-2px);
}

.grid-item img {
    max-width: 100px;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.grid-item p {
    margin: 0;
    font-size: 1.1em;
    font-family: 'Changa-VariableFont';
    color: #333;
}

/* available Service */

.infoCon{
    margin-top: 5%;
    width: 100%;
}

.infoCon h3{
    font-family: 'Gugi-Regular';
    text-align: center;
    color: #004792;
    font-size: 40px;
    padding: 10px 0;
    margin-bottom: 20px;
    font-weight: 900;
}

.infoContainer {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    width: 1500px;
    max-width: 100%;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 410px;
    margin: 10px;
  }
  
  .card img {
    width: auto;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .card h2 {
    font-family: 'Gugi-Regular';
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #004792;
  }
  
  .card p {
    font-family: 'Changa-VariableFont';
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
  }
  
  .card button {
    background-color: #004792;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    align-self: flex-end; 
    margin-top: auto; 
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s, color 0.2s;
}
  
  .card button:hover {
    background-color: black;
  }

/* content banner */

.contentBan {
    width: 80%; /* Fixed width */
    max-width: 1200px; /* Maximum width */
    margin: 55px auto; 
    display: flex;
    flex-wrap: wrap; 
    background-color: ghostwhite;
}

.contentBan .ban1, .contentBan .ban2 {
    width: 40%;
    margin: 0 auto;
}

.contentBan .ban1 h3{
    font-size: 3em;
    font-family: 'Changa-VariableFont';
    margin-top: 25px;
    color: #004792;
}

.contentBan .ban1 p{
    font-family: 'Gugi-Regular';
    margin-top: 40px;
    font-size: 1.1em;
    font-weight: 500;
}

.contentBan .ban2 img {
    width: 100%; 
    max-width: 100%; 
}

  /* best car */

.bestCarCon{
    margin-top: 5%;
    width: 100%;
}

.dealCon{
    width: 100%;
}

.deal-container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 50px;
}

.deal-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.deal-grid-item {
    position: relative;
    text-align: center;
    background-color: #020403;
    border-radius: 24px;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px 2px 20px 2px;
    margin-bottom: 20px;
    width: 45%; 
}

.deal-grid-item img {
    width: 100%;
    max-width: 280px;
    transition: transform 0.3s;
}

.deal-grid-item:hover img {
    transform: scale(1.1);
    cursor: pointer;
    width: 100%;
}

.deal-grid-item p, .deal-grid-item p a {
    font-size: 1.1em;
    font-family: 'Gugi-Regular';
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 5px;
}

.deal-grid-item p a:nth-of-type(1){
    font-size: 1.4em;
}

.deal-grid-item p a:nth-of-type(2){
    color: #0066b2;  
}

.deal-grid-item button {
    font-family: 'Changa-VariableFont';
    font-weight: 600;
    background-color: white;
    color: black;
    border: none;
    padding: 4px 8px;
    border-radius: 14px;
    margin-top: 15px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.deal-grid-item button:hover {
    background-color: #020403;
    color: #fff;
}

.bestCarCon .cataButton{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bestCarCon .cataButton button {
    font-family: 'Changa-VariableFont';
    font-weight: 600;
    background-color: white;
    color: black;
    border: none;
    padding: 4px 8px;
    border-radius: 24px;
    margin-top: 15px;
    font-size: 1.1em;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.bestCarCon .cataButton button:hover {
    background-color: #020403;
    color: #fff;
}

/* catagories */

.cata-grid-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 250px;
    box-sizing: border-box;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 14px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.hover-text {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    pointer-events: none;
    font-family: 'Changa-VariableFont';
    font-size: 1.9em;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 14px;
}

/* --------------------- Vehicle Page --------------------- */

.vehicleCon h3{
    margin-top: -40px;
    font-family: 'BebasNeue-Regular';
    font-size: 3em;
    color: #fff;
    background-color: #004792;
    letter-spacing: 0.05em;
}

.vech-container {
    width: 100%;
    margin-top: 80px;
}

.vech-grid-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.vech-grid-item {
    position: relative;
    text-align: center;
    border-radius: 24px;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px 2px 20px 2px;
    margin-bottom: 20px;
    width: calc(33.33% - 40px); 
    max-width: 300px; 
    margin-right: 50px; 
}

.vech-grid-item img {
    width: 100%;
}

.vech-grid-item p{
    margin-top: 15px;
}

.vech-grid-item p, .vech-grid-item p a {
    font-family: 'BebasNeue-Regular';
    color: black;
    font-weight: 600;
    text-align: center;
    padding: 5px;
}

.vech-grid-item p a:nth-of-type(1) {
    font-size: 1.8em;
    color: #0066b2;
    letter-spacing: 0.05em;
}

.vech-grid-item p a:nth-of-type(2) {
    font-family: 'Gugi-Regular';
    font-size: 1.3em;
}

.vech-grid-item button {
    font-family: 'Changa-VariableFont';
    font-weight: 600;
    background-color: white;
    color: black;
    border: none;
    padding: 4px 8px;
    border-radius: 14px;
    margin-top: 15px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.vech-grid-item button:hover {
    background-color: #020403;
    color: #fff;
}

.vehicleCon h3:nth-of-type(2){
    margin: 15px 0 15px 0;
    color: #020403;
    background-color: #fff;
}

/* --------------------- footer --------------------- */

.footer {
    background-color: #004792;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: -10%;
    margin-top: 80px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-section h4 {
    margin-bottom: 15px;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 18px;
  }
  
  .social-icons a:hover {
    color: black; 
  }

@media (max-width: 1100px) {
    .container {
        flex-direction: column;
      }
    
      .card {
        width: 100%;
        margin-bottom: 20px;
      }

      /* content */
    
    .contentBan {
        flex-direction: column; /* Stack the items vertically */
        align-items: center; /* Center the items */
        text-align: center; /* Center the text */
    }

    .contentBan .ban1, .contentBan .ban2 {
        width: 100%; /* Make each section take full width */
        margin: 20px 0; /* Add margin for spacing */
    }

    .contentBan .ban2 img {
        width: 80%; /* Adjust the image width for smaller screens */
    }

    .contentBan .ban1 p{
        padding: 0 20px 0 20px;
    }

    .vech-grid-item {
        width: calc(50% - 30px); /* Two items per row on medium screens */
    }
}

@media (max-width: 870px) {
    .nav-link {
        margin: 0 10px;
    }

    /* main page */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 20px;
    }

    .container {
        flex-direction: column;
      }
    
      .card {
        width: 100%;
        margin-bottom: 20px;
      }

      /* deals */
      .deal-grid-item p a:nth-of-type(1){
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navbar-logo {
        margin-bottom: 10px;
    }

    .logo-img {
        width: 100px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .nav-link {
        margin: 10px 0;
    }

    .auth-buttons {
        flex-direction: column;
        align-items: center;
        width: 150px;
        margin-top: 10px;
    }

    .auth-button {
        margin: 5px 0;
        width: 80%;
        text-align: center;
    }

    .search-bar {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .search-bar input {
        width: 90%;
        max-width: 400px;
    }

    .lineNav{
        display: none;
    }

    /* main page */

    .introCon h1{
        font-size: 80px;
        letter-spacing: 20px;
    }

    .banner2{
        display: none;
    }

    /* deals */
    
    .deal-grid-item {
        width: 100%; 
    }

    /* vehicle  page */
    .vech-grid-item {
        width: calc(100% - 20px); /* One item per row on small screens */
        margin-right: 5px;
    }
    
}

@media (max-width: 590px) {

    /* main page */

    .introCon h1{
        font-size: 70px;
    }

    .introCon img:nth-of-type(1){
        width: 100%;
    }
    
    .introCon img:nth-of-type(2){
        width: 100%;
    }

    .introCon h1{
        font-size: 70px;
        letter-spacing: 10px;
    }
    
    .introCon p{
        font-size: 32px;
    }

    /* main page */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
    }

    .card {
       margin-left: -0.2px;
    }

    /* vehicle page */
    .vehicleCon h3{
        margin-top: 20px;
    }
}